@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap')
;
@font-face {
    font-family:"raleway";
    src: url("assets/fonts/Raleway-Black.ttf") format(truetye);
    src: url("assets/fonts/Raleway-BlackItalic.ttf") format(truetype);
    src: url("assets/fonts/Raleway-Medium.ttf") format(truetype);
    src: url("assets/fonts/Raleway-MediumItalic.ttf") format(truetype) ;
    src: url("assets/fonts/Raleway-Bold.ttf") format(truetype);
    src: url("assets/fonts/Raleway-BoldItalic.ttf") format(truetype);
   
}